<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextQuest</title>
    <link rel="stylesheet" href="static/css/StyleSheet.css">
</head>

<body>
<header>
    <h1>Text Quest</h1>
    <div>
        <div class="icon"></div>
        <button>
            <a href="Login_Sign-in.html">
                <img src="static/icons/user.png" alt="user icon" width="100px" height="100px">
            </a>
        </button>

    </div>
</header>
<nav class="navbar">
    <ul class="nav-list">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('genre') }}">Genre</a></li>
        <li><a href="{{ url_for('contact') }}">Contact us</a></li>
    </ul>
</nav>
</body>

</html>
