<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextQuest</title>
    <link rel="stylesheet" href="static/css/StyleSheet.css">
</head>

<body>
<header>
    <h1>Text Quest</h1>
    <div>
        <div class="icon"></div>
        <button>
            <a href="Login_Sign-in.html">
                <img src="static/icons/user.png" alt="user icon" width="40px" height="40px">
            </a>
        </button>

    </div>
</header>
<nav class="navbar">
    <ul class="nav-list">
        <li><a href="#home">Home</a></li>
        <li><a href="Genre.html">Genre</a></li>
        <li><a href="#services">Contact us</a></li>
    </ul>
</nav>
<section>
    <div class="table-container">
        <table>
            <tr>
                <th>Game</th>
                <th>Genre</th>
                <th>Author</th>
            </tr>
            <tr>
                <td><a href="GamePages/placeholder.html">Story1</a> </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</section>
</body>

</html>
