<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextQuest</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
</head>
<body>
<header>
    <div class="Logo">
        <h1>TextQuest</h1>
    </div>
</header>
<nav>
    <ul>
        <li><a href="default.asp">Home</a></li>
        <li><a href="news.asp">News</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
    </ul>
</nav>
<section>

</section>
</body>
</html>